<div class="question-index">
<div class="question-form">
<%= form_for @question,:html => { :class => "form-horizontal event_session" ,'data-parsley-validate'=>''} do |f| %>
    <div class="form-group search-box">
    <div class="col-md-9 col-md-offset-2">
      <div class="col-xs-9 field-container">
        <%= f.text_field :description,:placeholder=>'Ask a question...', :class => 'form-control search-field' ,'data-parsley-required'=>'','data-parsley-trigger'=>'change','data-parsley-min-length'=>6%>
      </div>
      <div class="col-xs-3 remove-pd">
        <%= submit_tag 'Ask', :class => 'btn btn-primary btn-lg submit-btn purple-submit' %>
      </div>
      </div>
    </div>
<% end %>
</div>
<%= render :partial => 'questions_panel' %>

</div>


<script type="text/javascript">
  $(function(){
    $('.vote-up').click(handle_vot_up);
  });
  $(document).ready(function() {
      $.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
      setInterval(function() {
          $.ajax({url:'/questions/refresh_questions'});
      }, 15000); // the "3000"
  });
</script>

