<div class="col-lg-1"></div>
<div>
<%= form_tag '/main/login', :class => "form-horizontal event_session" ,'data-parsley-validate'=>'' do |f| %>
    <div class="form-group search-box">
      <div class="col-lg-9 field-container">
        <%= text_field_tag :event_code,'',:placeholder=>'Enter your access code here', :class => 'form-control search-field' ,'data-parsley-required'=>'','data-parsley-trigger'=>'change','data-parsley-min-length'=>6,'data-parsley-type'=>"alphanum"%>
      </div>
      <div>
        <%= submit_tag 'Enter', :class => 'btn btn-primary btn-lg submit-btn purple-submit' %>
      </div>
    </div>

    <div class="col-lg-11 main-description">
      <p>
        ARCHiVOX is a live Q&A tool designed for ARCHiTECH’s Application Discovery events, during which you’ll hear from top scientists and engineers in their fields about their inventions. Enter your access code to begin asking these leading inventors your questions so that our moderators can make sure you get answers.
      </p>
    </div>

<% end %>
</div>
<div class="col-lg-1"></div>
