<div class="dark-purple-background" style="padding: 10px;min-height: 800px;padding-left: 5%;padding-top: 100px;">
<div class="col-md-9 col-md-offset-2">
<%= form_tag '/main/login', :class => "form-horizontal event_session" ,'data-parsley-validate'=>'' do |f| %>
    <div class="form-group search-box">
      <div class="col-xs-9 field-container">
        <%= text_field_tag :event_code,'',:placeholder=>'Enter your access code', :class => 'form-control search-field' ,'data-parsley-required'=>'','data-parsley-trigger'=>'change','data-parsley-type'=>"alphanum"%>
      </div>
      <div class="col-xs-3" style="padding-left:0px">
        <%= submit_tag 'Enter', :class => 'btn btn-primary btn-lg submit-btn purple-submit' %>
      </div>
    </div>

    <div class="col-lg-11 main-description">
      <p>
        Hack4T2™ brings together inventors and diverse crowds to
        discover potential applications for their technologies. Use
        the Hack4T2™ app to brainstorm your applications and
        vote on the ones you think have potential.</p>
    </div>

<% end %>
</div>
</div>
