@import "bootstrap-sprockets";
@import "bootstrap";
@import 'parsley';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.search-box{
  .search-field {
    height: 50px;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
  }
  .field-container{
    padding-right: 0;
  }
  .submit-btn{
    border-radius: 0 8px 8px 0;
    height: 50px;
    font-size: 20px;
    padding: 0 45px 0 45px;
  }
}
.navbar-default .navbar-brand{
font-family: 'Montserrat', sans-serif;
font-size: 24px;
color:white;
&:hover,&:focus{
  color:#EAEAEA;
}
}
.nav.navbar-nav.navbar-right{
  font-family: 'Montserrat', sans-serif;
  a{
  color:white;
  &:hover,&:active,&:focus{
  opacity:0.9;
  color:white;
  }
  }
}


.navbar.navbar-default.navbar-static-top{
    border-bottom: none;

}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
.dark-purple-background{
  background-color: #5F327C;
}
.light-purple-background{
  background-color: #773F9B;
}
.main-description{
  color:white;
  font-size: 15px;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Avenir',sans-serif;
  padding-top: 20px;
}
.purple-submit{
  background-color: #773F9B;
  border:none;
  &:hover{
   background-color:#692F8E;
  }
  &:focus{
     background-color:#692F8E;
  }
}
.parsley-errors-list.filled{
color:#F90B0B;
padding-top: 5px;
}
.footer{
  color:white;
  font-size: 12px;
  font-weight: 700;
  div.text-center{
  padding-top: 20px;
 }
  font-family: 'Avenir',sans-serif;
}
.question-form{
 background-color: #5F327C;
 padding: 50px;
 padding-left:10%;
 margin-top: -20px;
 overflow:auto;

}
.question-form form{
position:relative;
z-index:2;
}
.question-outer{
  position:relative;
z-index:2;
.question{
  padding-left:4%;
}
}
.main-container{
  
}

.question-form form{
   position: relative;
   z-index:2;  
}
.question-form:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/chemical_bonds.png');
    background-size: 400px 400px;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index:1;
}
.event-create{
  background-color:#A6AAA9;
  border:none;
  padding: 8px 25px 8px 25px;
  border-radius: 6px;
  font-size: 15px;
  &:hover{
    background-color:#7A7D7D;
  }
  &:active{
    background-color: #7A7D7D;
    &:focus{
    background-color: #7A7D7D;
    }
  }
   &:focus{
    background-color: #7A7D7D;
  }
}
  
  .event_session{
    padding-top: 40px;
  }

.c_light-gray{
color:#A6AAA9 !important;
}
.c_dark-gray{
  color:#53585F;
}
  .question-outer {
  li {
  border-bottom: 2px solid #333;
  padding: 20px 0;
  .arrow {
      display: inline-block;
    border: 19px solid red;
    text-indent: -9999px;
    width: 0;
    height: 0;
    border-color: transparent transparent #773F9B;
    &:active,&:focus,&:hover{
    opacity:0.8;
    }
  }
  .vote-cout{
  font-size:13px;
  }
   h3 {
   font-size: 18px;
   }
  }
  .empty{
  padding-left:10%;
  border:none;
  }
  }